*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
/* ======================================= shared style =========================================== */
.display-flex{
    display: flex;
}
.hidden{
    display: none;
}
/* ===================================== home related styles ====================================== */
.home-container{
    max-width: 1200px;
    margin: 120px auto;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    color: #575757;
    font-size: 3rem;
    line-height: 65px;
    margin-bottom: 20px;
}
.home-content p{
    color: #828282;
    line-height: 25px;
    margin-bottom: 25px;
}
span{
    color: #FBA24F;
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    background-clip: text;
}
.btn{
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 3% 8%;
    font-weight: 500;
    box-shadow: 5px 5px 20px  #fba24f9d;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(90deg, #f37703, #fe0101);
    transform: scale(45px);
}
.home-image{
    width: 50%;
    position: relative;
}
.home-image .first{
    display: block;
    width: 90%;
}
.home-image .second{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* ============================================== about related styles =========================== */
#about{
    background-image: url("/images/shapes/7.png");
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 250px;
}
.about-image img{
    width: 100%;
    padding-top: 100px;
    padding-left: 150px;
    vertical-align: middle;
}
.about-content{
    padding-top: 100px;
}
.about-content h1{
    font-size: 2rem;
    color: #707070;
    margin-bottom: 30px;
}
.about-content p{
    font-size: 1rem;
    color: #18191F;
    line-height: 30px;
    margin-bottom: 90px;
}

/* =========================== recepie related styles ====================================== */
#recepies, #follower{
    margin-top: 72px;
}

.text{
    text-align: center;
}
.text h1{
    font-size: 2rem;
    color: #676767;
    margin-bottom: 30px;
}
.text p{
    color: #252525;
    font-size: 1.2rem;
    line-height: 136%;
    margin-bottom: 70px;
}
.recepie-container{
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.recepie-card{
    background-color: white;
    max-width: 645px;
    padding: 1.5%;
    border-radius: 35px;
    box-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 0.068);
}
.recepie-card img{
    width: 100%;

}
.recepie-card h3{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 800;
}
.recepie-card p{
    margin-bottom: 20px;
    line-height: 30px;
}

/* ============================================= follower related styles ==================== */
.follower-container{
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 0.068);
}
.card{
    text-align: center;
}
.card h1{
    margin-bottom: 10px;
}

/* =========================== footer related styles ========================================== */
footer{
    margin-top: 100px;
    background-color: #0B0D17;
    color: white;
    padding: 3%;
    text-align: center;
}
footer h1{
    color: #5B5B5B;
    margin-bottom: 35px;
}
/* ================================= responsiveness and mediaquerry ============================= */

/* ====================================== small devices ========================================= */
@media screen and (max-width: 576px) {
    .home-container, .about-container, .recepie-container, .follower-container{
        flex-direction: column-reverse;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    .home-image, .about-image{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-top: -15%;
    }
    .home-image .first, .home-image .second, .about-image{
        width: 80%;
        margin: auto;
    }
    .home-content h1, .about-content h1{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        line-height: 170%;
    }
    .home-content p, .about-content p{
        text-align: center;
        width: 100%;
        font-size: 1rem;
    }
    .btt{
        display: flex;
        justify-content: center;
    }
    .home-image .second{
        position: absolute;
        top: 46%;
        left: 41%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    .about-image img{
        padding-left: 0px;
    }
    .recepie-card, .follower-container{
        width: 80%;
    }
    footer{
        font-size: .8rem;
    }
}

/* ============================ laptop devices ==================================================== */
@media screen and (min-width: 577px) and (max-width: 992px){
    .home-container, .about-container{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .home-image, .about-image{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-top: -15%;
    }
    .home-image .first, .home-image .second, .about-image{
        width: 80%;
        margin: auto;
    }
    .home-content h1, .about-content h1{
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
        line-height: 170%;
    }
    .home-content p, .about-content p{
        text-align: center;
        width: 100%;
        font-size: 2rem;
        line-height: 150%;
    }
    .btt{
        display: flex;
        justify-content: center;
    }
    .home-image .second{
        position: absolute;
        top: 46%;
        left: 41%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    .about-image img{
        padding-left: 0px;
    }
    .recepie-container{
        justify-content: center;
        align-items: center;
    }
    .recepie-card{
        width: 80%;
    }
}